doctype html
html(lang='en')
  head
    meta(charset='utf8')
    title Runicon
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='manifest' href='manifest.json')
    link(rel='stylesheet' href='style.css')
  body
    header.navbar
      h1 Runicon
    main
      article
        p Coming soon!
      i#icon
    script(src='app.js')
